* {
  background-color: #e6e6df;
}

.log-in {
  max-width: 8%;
  text-align: center;
  position: relative;
  left: 91%;
  padding: 1%;
}
.title {
  font-size: 3em;
  text-align: center;
  padding: 50px 0 30px;
}
